@model FaculSys.Models.Nota

@{
    ViewData["Title"] = "Detalhes da Nota";
}

<h1>Detalhes da Nota</h1>

<div>
    <h4>Nota</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Aluno</dt>
        <dd class="col-sm-10">@Model.Matricula?.Aluno?.Nome</dd>

        <dt class="col-sm-2">Disciplina</dt>
        <dd class="col-sm-10">@Model.Matricula?.Disciplina?.Nome</dd>

        <dt class="col-sm-2">Nota 1</dt>
        <dd class="col-sm-10">@Model.Nota1</dd>

        <dt class="col-sm-2">Nota 2</dt>
        <dd class="col-sm-10">@Model.Nota2</dd>

        <dt class="col-sm-2">Média</dt>
        <dd class="col-sm-10">@Model.Media</dd>
    </dl>
</div>

<p>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</p>
